<div class="container table-responsive">

<h1 class="text-center">Our Players</h1>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#Sno.</th>
        <th scope="col">Name</th>
        <th scope="col">Age</th>
        <th scope="col">Skill</th>
        <th scope="col">Team</th>
      </tr>
    </thead>
    <tbody>

        @for(player of players; track $index){
            <tr>
                <th scope="row">{{$index +1}}</th>
                <td>{{player.name}}</td>
                <td>{{player.age}}</td>
                <td>{{player.skill}}</td>
                <td>{{player.team.name}}</td>
                <td>
                  
                  <a [routerLink]="['/editplayer',player.id]">Edit</a> |
                  <button (click)="DeletePlayer(player.id)">Delete</button>
                  
                  

              </tr>
        }
     
    
      
    </tbody>
  </table>
</div>